html{
  font-size: 62.5%;
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  margin: 0;
  min-height: 100vh;
  min-width: 100vw;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('images/nebula.jpg');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container{
  max-width: 70vh;
  border : .2rem solid rgb(194, 198, 201);
  min-height: 30rem;
  margin: .9rem auto;
  padding: .9rem;
  overflow: auto;
  border-radius: 1rem;

}
/*Header layout*/
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  color: aliceblue;
}
/*Button layout*/
.btn{
  display: inline-block;
  background: #000;
  color: #fff;
  padding: 1rem 2rem;
  margin: .5rem;
  border-radius: 1rem;
  text-transform: capitalize;
  font-size: 1.6rem;
  cursor: pointer;
}
.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 100%;
}
/*Task layout*/
.task {
  background: #f4f4f478;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1.5rem ;
}

.task.complete {
  border-left: 5px solid #008000;
  
  
}
.task.complete::after {
  content: 'Task completed';
  color: red;
  font-size: large;
  width: 5px;
  
}

.task h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*form styling*/
.add-form {
  margin-bottom: 40px;
}

.form-control {
  margin: 20px 0;
  font-size: 2rem;
  color: aliceblue;
}

.form-control label {
  display: block;
  font-weight: bold;
  text-decoration: underline;
  
}

.form-control input {
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 1.6rem;
}

.form-control-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-control-check label {
  flex: 1;
}

.form-control-check input {
  flex: 2;
  height: 20px;
}